/*******************Base Styles*******************/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-color: #36454f;
    box-sizing: border-box;
    margin: 0px;
}

body {
  margin: auto 10px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.cardContainer {
    padding: 5px;
}

.card {
    border: solid 1px #36454f;
    background-color: #bae4f0;
    height: 250px;
}

.cardTitle {
    float: right;
    border-left: solid 1px #36454f;
    border-bottom: solid 1px #36454f;
    background-color: white; 
}

h2 {
    margin: 10px;
    text-align: center;
}

.mainText {
    float: left;
    margin: 10px;  
}


/*Responsive Design*/

.row {
    width: 100%;
}


/********** Large devices only **********/
@media (min-width: 992px) {
    .column-lg-1, .column-lg-2, .column-lg-3, .column-lg-4, .column-lg-5, .column-lg-6, .column-lg-7, .column-lg-8, .column-lg-9, .column-lg-10, .column-lg-11, .column-lg-12 {
      float: left;
    }
    .column-lg-1 {
      width: 8.33%;
    }
    .column-lg-2 {
      width: 16.66%;
    }
    .column-lg-3 {
      width: 25%;
    }
    .column-lg-4 {
      width: 33.33%;
    }
    .column-lg-5 {
      width: 41.66%;
    }
    .column-lg-6 {
      width: 50%;
    }
    .column-lg-7 {
      width: 58.33%;
    }
    .column-lg-8 {
      width: 66.66%;
    }
    .column-lg-9 {
      width: 74.99%;
    }
    .column-lg-10 {
      width: 83.33%;
    }
    .column-lg-11 {
      width: 91.66%;
    }
    .column-lg-12 {
      width: 100%;
    }
  }
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .column-md-1, .column-md-2, .column-md-3, .column-md-4, .column-md-5, .column-md-6, .column-md-7, .column-md-8, .column-md-9, .column-md-10, .column-md-11, .column-md-12 {
      float: left;
    }
    .column-md-1 {
      width: 8.33%;
    }
    .column-md-2 {
      width: 16.66%;
    }
    .column-md-3 {
      width: 25%;
    }
    .column-md-4 {
      width: 33.33%;
    }
    .column-md-5 {
      width: 41.66%;
    }
    .column-md-6 {
      width: 50%;
    }
    .column-md-7 {
      width: 58.33%;
    }
    .column-md-8 {
      width: 66.66%;
    }
    .column-md-9 {
      width: 74.99%;
    }
    .column-md-10 {
      width: 83.33%;
    }
    .column-md-11 {
      width: 91.66%;
    }
    .column-md-12 {
      width: 100%;
    }
  }